/* Custom styles for this component */
.navbar-brand {
    font-size: 1.5rem;
  }
  
  .display-4 {
    color: #2f855a;
  }
  
  .form-control {
    width: 75%;
  }
  
  .btn-success {
    background-color: #2f855a;
  }
  
  .icon {
    max-width: 50px;
  }


  .contentzindex{
    z-index: 999;
    margin-left: 4vw;
  }

  @media (min-width: 640px) {
    .icons {
       margin: 0px;
    }
}
 
  